<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - landing_project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/landing_project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="_Layout.cshtml.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    

</head>
<body>
    <header>
        <nav class="navbarr">
      <div><i class="fa-solid fa-mask"></i></div>
      <div class="menu-bar active" onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></div>
      <div class="ull aactive">
      <ul class=" btn">
        <li>Comics</li>
        <li>Movies</li>
        <li>Podcasts</li>
      </ul>
      </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
<div class="footer">
<div class="row">
<a href="#"><i class="fa fa-youtube"></i></a>
</div>

<div class="row">
<ul>
<li><a href="#">Comics</a></li>
<li><a href="#">Movies</a></li>
<li><a href="#">Podcasts</a></li>

</ul>
</div>

<div class="row">
- All rights reserved -
</div>
</div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/6473111d61.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
