@{
    ViewData["Title"] = "Home Page";
}
<script src="https://kit.fontawesome.com/6473111d61.js" crossorigin="anonymous"></script>
<header class="header"></header>
<section class="container1">
      <div class="headerImg">
        @* <div class="headerButton">
          <div class="btnHeader">explore</div>
          <div class="btnHeader">tour</div>
        </div> *@
      </div>
    </section>
    <article class="container2">
      <div class="info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
        exercitationem similique quos iusto itaque excepturi atque quae, rerum
        ipsum nulla impedit aspernatur numquam deleniti reiciendis accusantium
        soluta explicabo quisquam repudiandae.Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Dolorem exercitationem similique quos
        iusto itaque excepturi atque quae, rerum ipsum nulla impedit aspernatur
        numquam deleniti reiciendis accusantium soluta explicabo quisquam
        repudiandae.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolorem exercitationem similique quos iusto itaque excepturi atque quae,
        rerum ipsum nulla impedit aspernatur numquam deleniti reiciendis
        accusantium soluta explicabo quisquam repudiandae.Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Dolorem exercitationem similique quos
        iusto itaque excepturi atque quae, rerum ipsum nulla impedit aspernatur
        numquam deleniti reiciendis accusantium soluta explicabo quisquam
        repudiandae.
      </div>
      <div class="infoImg"></div>
    </article>
    <section class="cards">
      <div class="cards-header">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          exercitationem similique quos
        </p>
      </div>
      <div class="container3">
        @for(int i=0;i<12;i++){
          <div class="vid">
        <div><iframe width="" height=""
         src="https://www.youtube.com/embed/ordvJNeMjPI?si=TDh_V8qolFR6yWEk"
         title="YouTube video player" 
         frameborder="0" 
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
         referrerpolicy="strict-origin-when-cross-origin" 
         allowfullscreen></iframe>
         </div>
        <div class="infoVid"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          exercitationem similique quos</div>
        </div>
        }
        
      </div>
    </section>
